<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driele Gostosa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Baixar músicas do YouTube</h1>

        <!-- Adicione um botão para iniciar o processo de autenticação OAuth -->
        <a href="/auth" class="auth-button">Me da uma mamada hoje</a>

        <!-- Formulário de download -->
        <form action="/download" method="POST">
            <input type="text" name="url" placeholder="Enter YouTube URL" required>
            <button type="submit">Download</button>
        </form>
    </div>
</body>
</html>